body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  background: #00c2ff;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: #222;
}
